                             .side {

                                 height: 500px;
                                 border-radius: 20px;
                                 color: white;
                                 background-color: var(--accent-color);

                             }

                             .logo {
                                 position: relative;
                                 top: 20px;
                                 left: 20px;

                             }

                             .side h1 {
                                 position: relative;
                                 top: 120px;
                                 left: 30px;
                                 font-family: Manrope;
                                 font-weight: 400px;
                                 font-size: 22px;
                                 color: #FFFFFF;

                             }

                             .side p {
                                 position: relative;
                                 position: relative;
                                 left: 30px;
                                 top: 160px;
                                 font-family: 'Manrope';
                                 font-style: normal;
                                 font-weight: 400;
                                 font-size: 13px;
                                 color: var(--primary-color);

                             }



                             .link {

                                 position: relative;
                                 top: 200px;
                                 left: 40px;
                                 background-color: white;
                                
                                 text-decoration: none;
                                 border-radius: 25px;
                                 font-size: 16px;
                                 color: var(--accent-color);
                                 background-color: var(--primary-color);
                                 padding: 10px 20px;
                                 font-size: 1rem;
                                 text-decoration: none;
                                 border-radius: 25px;
                             }

                             .link:hover {
                                 background-color: #3C2C9A;
                                 border: 1px solid var(--primary-color);
                                 color: white;
                             }