
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3.5rem;
    gap: 20.19px;
    position: relative;
    height: 100px;

}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 1rem;
    gap: 41px;
}

.link-home {
    width: 3rem;
    height: 1 rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

}