:root{
  --accent-color: #0887FC;
  --primary-color: #fff;
  --secondary-color: #000;
  --shadow: 0px 4px 8px rgb(8 135 252);

  /** dimension */
  --font-size: 16px;
  --border-radius: 0;

  
}
html, body{
  font-size: var(--font-size);
  background-color: var(--primary-color);
}
